{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": ["eslint:recommended"],
  "overrides": [
    {
      "files": ["**/*.cjs"],
      "parserOptions": {
        "sourceType": "commonjs"
      }
    },
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
