.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.idea

node_modules
dist
test/regression-fixtures
test/regression-diffs
test/cli/output
coverage
.DS_Store
*.log
